* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.water-body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	background: transparent;
}

.water-content {
	position: relative;
	max-width: 100%;
}

.water-content h5 {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 10vh;
}

.water-content h5:nth-child(1) {
	-webkit-text-stroke: 1px #03a9f4;

	background: url("/assets/img/lofi-login.jpg") no-repeat center center;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background-size: cover;
}

.water-content h5:nth-child(2) {
	color: whitesmoke;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0 45%,
			16% 58%,
			32% 63%,
			53% 65%,
			73% 61%,
			87% 54%,
			100% 49%,
			99% 100%,
			2% 100%,
			0% 100%
		);
	}
	50% {
		clip-path: polygon(
			0 80%,
			16% 68%,
			32% 63%,
			53% 61%,
			64% 56%,
			80% 48%,
			100% 25%,
			99% 100%,
			2% 100%,
			0% 100%
		);
	}
}
